<div class="bottom">
    <mat-card class="card">
        <div class="heading">
            <mat-card-title>School and subject Mapping</mat-card-title>
        </div>
        <div class="card-content">
            <mat-form-field class="example-full-width">
                <mat-label>School</mat-label>
                <input matInput placeholder="ABC School">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Grade Level (Learning Level)</mat-label>
                <input matInput placeholder="IInd">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Grade</mat-label>
                <input matInput placeholder="VII">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Classroom ID</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>ClassroomSubject ID</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </mat-card>
</div>

