.bottom {
    margin: 5em 0;
    padding-bottom: 10em;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.example-full-width {
    height: 5em;
    margin: 1em 2em;
}

.last-one {
    text-align: right;
    padding: 2em 1em 1em 0;
    color: #BE0202;
}