.mid {
    margin: 5em 0;
    border: 1px solid #C4C4C4;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.example-full-width {
    height: 5em;
    margin: 1em 2em;
}

.hint {
    color: #BE0202;
}